{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Vlogs</h2>
<div class="vlogs-container">
    {{if .Vlogs}}
    {{range .Vlogs}}
    <div class='vlog-card'>
        <img src='/static/img/{{.PhotoFile}}' alt='Vlog Image' class='vlog-image'>
        <div class='vlog-details'>
            <a href='/vlog/view/{{.VlogID}}'>
                <h2>{{.Title}}</h2>
                <p>{{.Description}}</p>
            </a>
        </div>
    </div>
    {{end}}
    {{else}}
    <p>There's nothing to see here... yet!</p>
    {{end}}
</div>
{{end}}